/*css main Product*/
.sale-title
{
    text-align: center;
    background: #0f9ed8;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.sale-title span {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}


.name
{
	color: #000;
	font-size: 15px;
}
.sale
{
	color: #999;
	text-decoration: line-through;
}
.price
{
	color: #ea3a3c;
}

.danhGiaSanpham span
{
	color: #777;
	font-size: 12px;
	margin-left: 5px;
}
.fa-star, .fa-star-o
{
	color: orange;
}

.show-product
{
	border: 1px solid #eee;
	transition-duration: .3s;
	position: relative;
	height: 300px;
}
.list-product {
    min-height: 100px;
    overflow: hidden;
    padding: 10px;
    padding-top: 0 !important;
    padding-bottom: 0px;
    /*margin-top: 20px;*/
}
.list-header {
    border-bottom: 1px solid #e8e6e2;
    height: 40px;
    margin-bottom: 25px;
}
.list-product h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
}
.list-product h2 a {
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    color: #000;
}
.sub-category {
    float: right;
    margin-top: 20px;
    width: 100%;
}
.sub-categories li {
    float: left;
    list-style: none;
    line-height: 2;
}
.sub-categories li a {
    text-decoration: none;
    color: #685e52;
    border: 0;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 13px 10px;
    position: relative;
}
.sub-categories li a:hover
{
	color: #0f9ed8;
}
.product-container {
    flex-wrap: wrap;
    border: 1px solid #e8e6e2;
    padding: 0;
    display: flex;
    margin-top:30px;
}
.product-hot
{
	border: 1px solid #0f9ed8;
	display: flex;
}

.product-hot img
{
	display: block;
	margin: 15px auto;
    transition: all ease 300ms;
}
.product-hot img:hover
{
	transition: 0.3s;
	margin:5px auto 25px;
}
.p-box-1:hover
{
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
	box-shadow: 0 0 50px rgba(0,0,0,.1);
	box-sizing: border-box;
	z-index: 1;
}
.p-box, .p-box-1
{
    text-align: center;
    width: 20%;
    cursor: pointer;
}
.product-lt
{
    background: #fff;
    border: solid 1px #eee;
    border-bottom: none;
    position: relative;
    border-left: none;
    border-top: none;
    height: 320px;
}

.lt-product-image a
{
    padding: 10px;
    display: inline-block;
}
.img-p
{
    display: block;
    width: 90%;
    max-height: 180px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: block;
    padding: 10px;
}
.list-product-info
{
    padding: 5px 0 0 5px;
    margin-top: 0;
}
.list-product-info h3
{
    font-size: 13px;
    color: #393d3f;
    font-weight: 700;
    height: auto;
}
.price-box
{
    margin: 5px 0;
    float: left;
}
.old-price
{
    margin-left: 10px!important;
    float: right;
}
.old-price .price, .old-price>span
{
    font-size: 14px;
    font-weight: 700;
    color: #716b6b;
    text-decoration: line-through;
}
.special-price {
    display: inline-block;
    float: left;
    margin: 0!important;
}
.special-price .price
{
    font-size: 14px;
    font-weight: 700;
    color: #e11b1e;
}





